body {
  background: #0c0f18;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  color: #00c3ff;
}

.add-driver-box, .race-inputs {
  margin: 15px 0;
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 18px;
  border: none;
  background: #00c3ff;
  color: #000;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.back {
  color: #00c3ff;
  text-decoration: none;
}

#driverList div {
  padding: 12px;
  background: #131926;
  margin: 8px 0;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  background: #131926;
  border-bottom: 1px solid #222;
}

.finish-btn {
  margin-top: 20px;
  width: 100%;
  background: red;
  color: white !important;
}
